{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Sumarizador Automático</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-select.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-toggle.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
	{% include "app/nav.html" %}
	<div class="row">
		<div class="col-md-12 col-md-offset-0">
			<div class="panel panel-content">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="title-session">
							{% if title %} {{ title }}
							{% else %} Sumarizador Automático {% endif %}
							</h2>
							{% if file %}
							<h4 class="subtitle-session"> Arquivo:
							<span class="glyphicon glyphicon-file"></span> {{ file }} <small class="text-muted">{{ file.docfile }}</small>
							</h4>
							{% endif %}

							<h4 class="loading alert alert-info" style="display:none;text-align:center"></h4>

							{% include "app/messages.html" %}

							{% block content %}
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static "js/bootstrap-select.min.js" %}" /></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/i18n/defaults-pt_BR.js" %}"></script>
<script src="{% static "js/bootstrap-toggle.min.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
</html>