{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Sumarizador Automático</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-select.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
	{% include "app/nav.html" %}
	<div class="row">
		<div class="col-md-12 col-md-offset-0">
			<div class="panel panel-content">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="title-session">
							{% if title %} {{ title }}
							{% else %} Sumarizador Automático {% endif %}
							</h2>
							{% if file %}
							<h4 class="subtitle-session"> Arquivo: 
							<span class="glyphicon glyphicon-file"></span> {{ file }} <small class="text-muted">{{ file.docfile }}</small>
							</h4>
							{% endif %}

							{% include "app/messages.html" %}
							
							{% block content %}
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static "js/bootstrap-select.min.js" %}" /></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/i18n/defaults-pt_BR.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
    	var url = window.location.pathname;
    	$('ul.nav a[href="'+ url +'"]').parent().addClass('active');
    	$('ul.nav a[id="'+ url +'"]').parent().addClass('active');
    	if (url == '/edit/') {
    		$('li.dropdown').addClass('active');
    	}
    	$('ul.nav a').filter(function() {
            return this.href == url;
        }).parent().addClass('active');

    	var color = $('li.active').css("border-bottom-color");
        $('.title-session').css(
    		"border-color", color
    	);

        var icon = $('li.active span').attr('class');
    	$('.title-session').append(
    		"<span class='"+icon+"'></span>"
    	);
    	$('.title-session span').css(
    		"color", color
    	);

    	$('.submenu').click(function() {
    		if ($(this).hasClass('sub1') 
    			&& !$(this).hasClass('collapsed')
    			&& $('.sub2').hasClass('collapsed')) {
		    	$('.submenu').children().addClass('reset-collapsed');
			} else if ($(this).hasClass('sub2') 
		    		   && !$(this).hasClass('collapsed')
		    		   && $('.sub1').hasClass('collapsed')) {
		    	$('.submenu').children().addClass('reset-collapsed');
			} else {
		    	$('.submenu').children().removeClass('reset-collapsed');
			}
	    });

    	$($('.title-session').children()).clone().appendTo('h4.subtitle-session span');

    	$('h4.subtitle-session span:nth-last-child(2)').removeAttr('style');

    	$(".alert-success").delay(5000).fadeOut(500, function() {
		    $(this).alert('close');
		});
	});
</script>
</html>