{% extends 'app/base.html' %}

{% load staticfiles %}

{% block content %}
<div align=center>
	<h4><b>Projeto desenvolvido conforme especificações elaboradas por: </b></h4>
	<h4>Prof. Francisco Cláudio S. de Menezes<br/> <<a href="mailto:new.claudiomenezes@gmail.com" target="_top">new.claudiomenezes@gmail.com</a>></h4>
	<br/>
	<h4><b>Programado por:</b></h4>
	<h4>Leandro Rezende Rodrigues<br/> <<a href="mailto:leandro.l2r@gmail.com" target="_top">leandro.l2r@gmail.com</a>></h4>
	<br/>	
	<h4><b>Repositório do projeto:</b></h4>
	<h4><a href="https://github.com/leandro2r/automatic_summarizer" target="_blank"><img src="{% static "imgs/GitHub-Mark-32px.png" %}" style="width:22px"> Github</a></h4>
	<br/>
</div>
{% endblock content %}