*.pyc
__pycache__
myvenv
db.sqlite3
.DS_Store
app/converter/migrations/*.py
app/summarizer/migrations/*.py
app/translator/migrations/*.py
app/aligner/migrations/*.py
media/files/*
build
dist
venv
*.egg-info
