{% extends 'app/base.html' %}

{% load staticfiles %}

{% block content %}
	{% if form %}
		<form method="POST" action="summarizer/" class="form-horizontal" >
			{% csrf_token %}
			{% for field in form.visible_fields %}
				<div class="form-group">
	    			<label class="control-label lb-lg" for="{{ field.name }}">{{ field.label }}:</label> {{ field }}
	    		</div>
			{% endfor %}
			{% for field in form.hidden_fields %}
				<div style="display:none;">{{ field }}</div>
			{% endfor %}
			<button type="submit" name="_method" value="summarized" class="btn btn-primary btn-lg btn-block" title="Sumarizar" id="run_app">Sumarizar</button>
	{% else %}
		<div class="subtitle-session">
			<h2>Estatísticas da sumarização <span class="glyphicon glyphicon-stats"></span></h2>
			<h4>Tempo de processamento: 
			{% if summarized.processing_time.minute > 0 %}
				{{ summarized.processing_time.minute }} min.
			{% endif %}
			{% if summarized.processing_time.minute == 0 %}
				{{ summarized.processing_time|time:"i.u" }}
			{% else %}
				{{ summarized.processing_time.second }}
			{% endif %}
			 seg.</h4>
			<h4>Taxa de compressão: {{ summarized.field.ratio }} <small>Redução de {{ file_size }} bytes para {{ summarized.size }} bytes</small></h4>
		</div>
		<form method="POST" action="/translator/" class="form-horizontal" >
			{% csrf_token %}
			<div style="display:none;"><input type="hidden" name="file" id="id_file" value="{{ file.id }}"/></div>
		<br/>
		<button type="submit" name="_method" value="summarized" class="btn btn-primary btn-lg btn-block" title="Tradutor">Avançar</button>
	{% endif %}
	</form>
{% endblock content %}