{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Sumarizador Automático</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-select.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">	
		{% include "apps/nav.html" %}

	    <div class="jumbotron vertical-center">
	    	<h2 class="text-info" align="center">
			{% if title %} {{ title }} {% else %} Sumarizador Automático {% endif %}
			</h2>

			{% include "apps/errors.html" %}

	    	{% block content %}
        	{% endblock %}
	    </div>
	</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static "js/bootstrap-select.min.js" %}" /></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/i18n/defaults-pt_BR.js" %}"></script>

</html>