{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Sumarizador Automático</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-select.min.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
	{% include "apps/nav.html" %}
	<div class="row">
		<div class="col-md-12 col-md-offset-0">
			<div class="panel panel-content">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="title-session">
							{% if title %} {{ title }}
							{% else %} Sumarizador Automático {% endif %}
							</h2>
							{% include "apps/messages.html" %}

							{% block content %}
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static "js/bootstrap-select.min.js" %}" /></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/i18n/defaults-pt_BR.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
    	var url = window.location.pathname;
    	$('ul.nav a[href="'+ url +'"]').parent().addClass('active');
    	$('ul.nav a[id="'+ url +'"]').parent().addClass('active');
    	if (url == '/edit/') {
    		$('li.dropdown').addClass('active');
    	}
    	$('ul.nav a').filter(function() {
            return this.href == url;
        }).parent().addClass('active');

    	var color = $('li.active').css("border-bottom-color");
        $('.title-session').css(
    		"border-color", color
    	);

        var icon = $('li.active span').attr('class');
    	$('.title-session').append(
    		"<span class='"+icon+"'></span>"
    	);
    	$('.title-session span').css(
    		"color", color
    	);

    	$(".alert-success").delay(4000).fadeOut(400, function() {
		    $(this).alert('close');
		});
	});
</script>
</html>