{% extends 'apps/base.html' %}

{% load staticfiles %}

{% block content %}
	<div class="panel-group" id="accordion">
	  	<div class="panel">
		    <div class="panel-heading-custom">
		  		<button type="button" class="btn btn-success" data-toggle="collapse" data-target="#add" data-parent="#accordion">Adicionar Arquivo</button>
		  		<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#delete" data-parent="#accordion">Excluir Arquivo</button>
			</div>
			<div id="add" class="collapse new-background">
			    <form method="POST" action="." enctype="multipart/form-data" class="form-horizontal" >
					{% csrf_token %}
					{% for field in form %}
						<div class="form-group">
		        			<label class="control-label lb-lg" for="{{ field.name }}">{{ field.label }}:</label> {{ field }}
		        		</div>
		    		{% endfor %}
		    		<div class="form-group panel-button">
						<input type="submit" name="_method" value="Adicionar" class="btn btn-primary btn-block" />
					</div>
				</form>
			</div>
			<div id="delete" class="collapse new-background">
				<form method="POST" action="." enctype="multipart/form-data" class="form-horizontal" >
					{% csrf_token %}
					<div class="form-group dropup">
					    <label for="url" class="control-label lb-lg">Arquivos:</label>
						<select class="form-control selectpicker" name="delete_ids" multiple data-actions-box="true"
						data-selected-text-format="count" multiple required>
							{% for each in files %}
						    	<option value="{{ each.id }}" data-subtext="{{ each.docfile.name }}">{{ each.title }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group panel-button">
						<input type="submit" name="_method" value="Excluir" class="btn btn-primary btn-block" />
					</div>
				</form>
			</div>
			<div class="panel-footer-custom">
			</div>
		</div>
	</div>
	<form method="POST" action="summarize" enctype="multipart/form-data" class="form-horizontal" >
		<div class="form-group">
			<label for="url" class="control-label lb-lg">Arquivo:</label>
			<select class="form-control selectpicker" name="docfile" input-lg title="Selecione um arquivo" data-live-search="true" required>
				{% for each in files %}
			    	<option value="{{ each.id }}" data-subtext="{{ each.docfile.name }}">{{ each.title }}</option>
				{% endfor %}
			</select>
			<span id="url" class="help-block">Escolha um dos arquivo adicionados.</span>
			<input type="submit" value="Avançar" class="btn btn-primary btn-lg btn-block" />
		</div>
	</form>
{% endblock content %}