{% extends 'app/base.html' %}

{% load staticfiles %}

{% block content %}
	<div class="panel-group" id="accordion">
	  	<div class="panel">
		    <div class="panel-heading-custom">
	    		<div class="row">
		    		<div class="col-md-4 col-md-offset-1 submenu sub1" data-toggle="collapse" data-target="#add" data-parent="#accordion">
		    			<h4><span class="glyphicon glyphicon-plus"></span> Adicionar arquivo</h4>
		    		</div>
		    		<div class="col-md-4 col-md-offset-2 submenu sub2" data-toggle="collapse" data-target="#delete" data-parent="#accordion">
		  				<h4><span class="glyphicon glyphicon-trash"></span> Excluir arquivo</h4>
		  			</div>
		  		</div>
			</div>
			<div id="add" class="collapse new-background">
			    <form method="POST" action="." enctype="multipart/form-data" class="form-horizontal">
					{% csrf_token %}
					{% for field in form %}
						{% if field.name != 'starts_at' and field.name != 'ends_at' %}
						<div class="form-group">
		        			<label class="control-label lb-lg" for="{{ field.name }}">{{ field.label }}:</label> {{ field }}
		        		</div>
		        		{% elif field.name == 'starts_at' %}
		        		<div class="form-group summarized">
		        			<span class="col-md-3 control-label lb-lg">Range do filtro:<br/><small>(por páginas)</small></span>
		        			<div class="col-md-8">
		        				<div class="col-md-6">
		        					<label class="control-label lb-lg" for="{{ field.name }}">{{ field.label }}:</label> {{ field }}
		        				</div>
		        		{% else %}
		        				<div class="col-md-6">
		        					<label class="control-label lb-lg" for="{{ field.name }}">{{ field.label }}:</label> {{ field }}
		        				</div>
		        			</div>
		        		</div>
		        		{% endif %}
		    		{% endfor %}
		    		<div class="form-group panel-button">
						<input type="submit" name="_method" value="Adicionar" class="btn btn-primary btn-block" title="Converter" id="run_app" />
					</div>
				</form>
			</div>
			<div id="delete" class="collapse new-background">
				<form method="POST" action="." class="form-horizontal">
					{% csrf_token %}
					<div class="form-group dropup">
					    <label for="url" class="control-label lb-lg">Arquivos:</label>
						<select class="form-control selectpicker" name="delete_ids" multiple data-actions-box="true"
						data-selected-text-format="count" multiple required>
							<optgroup label="Sumarizados">
							{% for each in summarizeds %}
						    	<option value="{{ each.id }}" data-subtext="{{ each.docfile.name }}">{{ each.title }}</option>
							{% endfor %}
							<optgroup label="Não sumarizados">
							{% for each in files %}
						    	<option value="{{ each.id }}" data-subtext="{{ each.docfile.name }}">{{ each.title }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group panel-button">
						<input type="submit" name="_method" value="Excluir" class="btn btn-primary btn-block" />
					</div>
				</form>
			</div>
			<div class="panel-footer-custom">
			</div>
		</div>
	</div>
	<form method="POST" action="." class="form-horizontal">
		{% csrf_token %}
		<div class="form-group">
			<label for="url" class="control-label lb-lg">Arquivo:</label>
			<select class="form-control selectpicker" name="file" input-lg title="Selecione um arquivo" data-live-search="true" required>
				<optgroup label="Não sumarizados">
				{% for each in files %}
					<option value="{{ each.id }}" data-subtext="{{ each.docfile.name }}">{{ each.title }}</option>
				{% endfor %}
				<optgroup label="Sumarizados">
				{% for each in summarizeds %}
					<option value="{{ each.id }}" data-subtext="{{ each.docfile.name }}">{{ each.title }}</option>
				{% endfor %}
			</select>
			<span id="url" class="help-block">Escolha um dos arquivo listados, caso já o tenha adicionado. Senão, adicione-o clicando em "Adicionar arquivo".</span>
			<button type="submit" name="_method" value="download" class="btn btn-default btn-lg col-xs-5" title="Download">Baixar</button> 
			<button type="submit" name="_method" value="converted" class="btn btn-primary btn-lg col-xs-7" title="Sumarizador">Avançar</button>
		</div>
	</form>
{% endblock content %}