{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Sumarizador Automático</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">	
		{% include "apps/nav.html" %}

	    <div class="jumbotron vertical-center">
	    	{% include "apps/errors.html" %}

			<h2 class="text-center">
			{% if title %} {{ title }} {% else %} Sumarizador Automático {% endif %}
			<a href="http://unb.br" target="_blank"><img src="{% static 'unb_logo.png' %}" class="logo-custom"></a></h2>

	    	{% block content %}
        	{% endblock %}
	    </div>
	</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}" /></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/i18n/defaults-pt_BR.js' %}"></script>

</html>