<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/update/{{ file.id }}" method="POST">
		{% csrf_token %}
		<label for="title">Título: <input type="text" name="title" id="title" value="{{ file.title }}" placeholder="{{ file.title }}" /></label>
		<label for="file">Arquivo .PDF: <input type="file" name="file" id="file" value="{{ file.file }}" placeholder="{{ file.file }}" /></label>
		<label for="url">Repositório: <input type="url" name="url" id="url" value="{{ file.url }}" placeholder="{{ file.url }} "/></label>

		<input type="submit" value="Submit" />
	</form>
</body>
</html>