<!DOCTYPE html>
<html>
<head>
	<title>Summarizer</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
</head>
<body>
	<div class="container">
	    <div class="jumbotron vertical-center">
	    	<h2 class="text-center">Summarizer 
	    	<a href="http://unb.br" target="_blank"><img src="{% static 'unb_logo.png' %}"></a></h2>
	        <form action="/create" method="POST" class="form-horizontal">
				{% csrf_token %}
				<div class="form-group">
					<label for="title" class="control-label">Título</label>
					<input type="text" name="title" class="form-control input-lg" />
				</div>
				<div class="form-group">
					<label for="file" class="control-label">Arquivo (.pdf)</label>
					<input type="file" name="file" class="form-control input-lg" />
				</div>
				<div class="form-group">
					<label for="url" class="control-label">Selecione um arquivo</label>
					<select class="form-control input-lg">
						{% for each in files %}
					    	<option value="{{ each.id }}">{{ each.title }} ({{ each.file }})</option>
						{% endfor %}
					</select>
					<span id="url" class="help-block">Escolha um dos arquivo cadastrados.</span>
				</div>
				<input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" />
			</form>
	    </div>
	</div>
</body>
</html>