<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
</head>
<body>
	<div class="container">
	    <div class="jumbotron vertical-center">
	    	<h2 class="text-center">{{ title }} 
	    	<a href="http://unb.br" target="_blank"><img src="{% static 'unb_logo.png' %}"></a></h2>
	        <form method="POST" action="." enctype="multipart/form-data" class="form-horizontal" >
				{% csrf_token %}
				<div class="form-group">
					{{ form.as_p }}

					<input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" />
				</div>
			</form>
	    </div>
	</div>
</body>
</html>