{% extends 'app/base.html' %}

{% load staticfiles %}

{% block content %}
	{% if form %}		
		<form method="POST" action="/aligner/" class="form-horizontal" >
			<div class="form-group">
				<label class="control-label lb-lg">Arquivos para alinhamento sentencial:</label>
				<div class="row">
					<div class="col-xs-6">
						<input class="form-control input-mg" type="text" placeholder=" Sumarizado ({{ translated.from_language }})" readonly>
					</div>
					<div class="col-xs-6">
						<input class="form-control input-mg" type="text" placeholder=" Traduzido ({{ translated.to_language }})" readonly>
					</div>
				</div>
			</div>
			{% csrf_token %}
			{% for field in form.hidden_fields %}
				<div style="display:none;">{{ field }}</div>
			{% endfor %}
			<button type="submit" name="_method" value="aligned" class="btn btn-primary btn-lg btn-block" title="Alinhar" id="run_app">Alinhar</button>
	{% else %}
		<div class="subtitle-session">
			<h2>Estatísticas do alinhamento <span class="glyphicon glyphicon-stats"></span></h2>
			<h4>Proporção de sentenças: {{ aligned.sentences_x }} <small>(Sumarizado) </small>
			<span class="glyphicon glyphicon-align-justify"> </span>
			{{ aligned.sentences_y }}
			<small>(Traduzido)</small></h4>
		</div>
		<form method="POST" action="/aligner/" class="form-horizontal" >
			{% csrf_token %}
			<div style="display:none;"><input type="hidden" name="file" id="id_file" value="{{ file.id }}"/></div>
		<br/>
		<button type="submit" name="_method" value="back" class="btn btn-default btn-lg col-xs-5" title="Retornar">Retornar</button>
		<button type="submit" name="_method" value="finished" class="btn btn-primary btn-lg col-xs-7" title="Salvar">Salvar</button>
	{% endif %}
	</form>
{% endblock content %}